<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/global.css') }}" />
        {% block stylesheets %}{% endblock %}
    </head>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('ticket_post_index') }}">My Ticket Manager</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('ticket_post_index') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('ticket_post_new') }}">Create Ticket</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('message_post_new') }}">Create Message</a>
                </li>
                </ul>
                <span class="navbar-text" id="login">
                    <a class="nav-link" href="{{ path('app_login') }}">
                        {% if app.user %}
                            Hey your are login {{app.user.email}} 
                            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                        {% else %}
                            Login
                        {% endif %}
                    </a>
                </span>
                <span class="navbar-text" id="register">
                    <a class="nav-link" href="{{ path('app_register') }}">
                        {% if app.user %}
                            
                        {% else %}
                            Register
                        {% endif %}
                    </a>
                </span>
            </div>
        </nav>
    </header>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
